<div class="flex items-center justify-between">
    <h1> URL Shortener </h1>

  <div>
    <% if user_signed_in? %>
      <%= link_to "Profile", edit_user_registration_path %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</div>

<select class="js-example-basic-single" name="state">
  <option value="AL">Alabama</option>
  <option value="WY">Wyoming</option>
</select>

<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>

<%= render partial: "form", locals: {link: @link} %>

<div id = "links" class="mt-8 flex flex-col gap-4 divide-y divide-gray-100">
  <%= render @links %>
</div>